@model IEnumerable<Market.Logic.Models.Order>

@{
    ViewData["Title"] = "Мои заказы";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Номер
            </th>
            <th>
                Состояние
            </th>
            <th>
                Дата
            </th>
            <th>
                 Итог
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Key.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @string.Format("{0:C}", item.GetSumCost())
            </td>
            <td>
                @Html.ActionLink("Подробнее", "Details", new { Key = item.Key.Value }) |
                @Html.ActionLink("Отмена", "Cancel", new { Key = item.Key.Value }) |
                    @{
                        if (item.State == Market.Logic.Models.OrderState.PaymentWait)
                        {
                            @Html.ActionLink("Оплатить", "Pay", new { OrderId = item.Key.Value })
                        }
                    }
            </td>
        </tr>
}
    </tbody>
</table>
