@model Market.Logic.Reports.Report

@{
    ViewData["Title"] = "Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Отчет</h4>
    <hr />
    @if (ViewBag.ErrorMessage is not null)
    {
        @Html.Label("error",(string)ViewBag.ErrorMessage, new { style = "color: red;" })
    }
    else
    {
        <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Provider)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Provider.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductMVP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductMVP.Item.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoldProductsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoldProductsCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalProfit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => string.Format("{0:C}", model.TotalProfit))
        </dd>
    </dl>
    }
    <p>
        <a asp-action="Create">Back to Create</a>
    </p>
</div>
